ul {
    list-style: none;
}

html, body {
    width:100%;
    height: auto;
}

body {
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    color: #333333;
}

input {
    font-size: 100%;
}

a, a:visited, a:active {
     text-decoration: none;
     color: #000;
}

.container-fluid {
    
    height: auto;
    border-radius:10px ;
    padding: 2%;
    margin: 5%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #C6E2FF;
}


/*начало тэги*/
.tag {

    float: left;
    margin: 5px;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    background: #fff;
    color: #000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;

    position: relative;
}

#tag-filter .tag {
    text-decoration: none;
    margin-top: 13px;
    
}
/*тэг выделенный*/
#tag-filter .selected {   
    background: #C6E2FF;
}

/*тэг число*/
#tag-filter .count {
    font-weight: normal;
    padding-left: 2px;
}
/*конец тэгов*/
#btn-project{
    float: left;
    padding: 3px 6px;
}

#tiem{
    height: auto;
    float: right;
}
/* style для листа */

#lists{
    width: 100%;
    margin-top: 40px;
}

#lists .list {
    padding: 5px 6px;   
}

#lists .selected {
    padding: 5px 6px;
    background: #C6E2FF;
    width:100%;
}

#lists .list-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#createList {
    position: absolute;
    padding: 8px 6px;
    margin-top: 5px;
}

#createList input {
    width: 100%;
}

/*конец лист*/

#add-task {
    margin-top: -20px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    height: auto;
}

#new-task {
   font-size: 12px;
   margin-bottom: 10px;
   width :100%;
}

#item-list {
    margin-left: -10px;
  height: auto;
  overflow: auto;
}
  
#item-list .todo {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

#item-list .todo .destroy {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 15px;
    height: 20px;
    width: 20px;
}

#item-list .todo .display, #item-list .todo .edit {
    margin-left: 0px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

#todo-input {
    width: 200px;
    position: relative;
    top: -3px;
}

#item-list .done .todo-text {
    text-decoration: line-through;
    color: #999;
}

#item-list .todo:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

#item-list .todo .destroy:hover {
    background-position: 0 -20px;
}

#item-list .todo .item-tags {
    overflow: auto;
    float: right;
    margin-right: 8px;
}

#item-list .todo .item-tags .tag {
    margin-top: 15px;
}

#item-list .todo .item-tags .removable_tag {
    padding-right: 22px;
}

#item-list .todo .item-tags .tag .remove {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    width: 16px;
    background: url("/close_16.png") no-repeat 0 center;
}

#item-list .todo .item-tags .tag .remove:hover {
    background-position: -16px center;
}

#item-list .todo .item-tags div.addtag {
    background: none;
    border: 1px solid #999;
}


#item-list .todo .todo-text {
    float: left;
    margin-left: 25px;
    font-size: 100%;
}

#item-list .todo .edit input {
    margin-left: 25px;
}

#edittag-input {
    width: 80px;
}

